[Unit]
Description=Overrustlelogs Bot-Part
After=network.target

[Service]
User=overrustlelogs
Restart=always
EnvironmentFile=/etc/overrustlelogs/systemd.conf
ExecStart=/usr/bin/orl-bot $DAEMON_OPTS

[Install]
WantedBy=multi-user.target
