[Unit]
Description=Overrustlelogs Logger-Part
After=network.target

[Service]
User=overrustlelogs
Restart=always
EnvironmentFile=/etc/overrustlelogs/systemd.conf
PIDFile=/var/run/orl-logger.pid
ExecStart=/usr/bin/orl-logger $DAEMON_OPTS

[Install]
WantedBy=multi-user.target
